       fieldset {
        border: 0;
        //margin-left: 300px;
        color:black;
    }
    label {
        display: block;
        margin: 20px 0 0 0;
    }
    select {
        width: 200px;
    }
    input {
        font-weight:500;
        border:0;
        width:100%;
        color:#f6931f;
        font-size:2em;
        text-align:center;
        background-color:transparent;
        padding:2em 0 0 0;
    }
    .overgreen {
        font-weight:bold;
    }
    .descricao {
        color:#999;
        font-weight:normal;
        font-size:1.4em;
        padding:0 0 4em 0;
    }
    canvas {
        position: absolute;
        z-index: 100;
        top: 0px;
        left: 0px;
    }
    * {
        padding: 0;
        margin: 0;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
